@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#back{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
}

#left{
    position: relative;
    width: 70%;
    height: 100%;
    padding: 30px 40px;
    overflow: hidden;
}
#right{
    width: 30%;
    height: 100%;
    background-color: #222;
    padding: 35px 40px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}
nav h2 a{
    text-decoration: none;
    color: black;
    font-size: 32px;
}
nav .links{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#circle{
    width: 600px;
    height: 600px;
    background-image: url("https://plus.unsplash.com/premium_photo-1663852297801-d277b7af6594?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circle2{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}
#circle2 img{
    position: absolute;
    width: 300px;
    left: 20%;
}

#circle3{
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(0, -50%);
    width: 120px;
    height: 120px;
    border: 5px solid white ;
    border-radius: 50%;
    background-image: url("https://plus.unsplash.com/premium_photo-1673590981810-894dadc93a6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMHBsYXRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    background-position: 0;
}

#right #about h1{
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
}
#right #about{
    color: #fff;
    margin-bottom: 20vh;
}
#right #food{
    width: 100%;
    margin-top: 40px;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1623428187969-5da2dcea5ebf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHNhbGFkfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#right input{
    width: 100%;
    padding: 12px 32px;
    border: none;
    outline: none;
    background-color: #444;
    color: white;
    font-size: 1.6vh;
    font-family: 'Open Sans', sans-serif;
}